:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.titleBar {
  background-color: darkslateblue;
  height: 50px
}

.pageTitle {
  width: 400px
}

.navigationBar {
  display: flex;
  background-color: darkslateblue
}

.siteSearch {
  justify-content: flex-end
}

.navigationImage {
  position: absolute;
  height: 300px;
  width: 250px;
  border-radius: 8px;
  opacity: 1;
  transition: opacity .5s
}

.navigationOption:hover .navigationImage {
  opacity: 0
}

.navigationOption:hover .optionTitle{
  opacity: 1
}

.navigationOptions {
  display: flex;
  justify-content: space-around
}

.navigationOption {
  display: flex;
  margin-top: 100px;
  border: 1px solid transparent;
  border-color: blue;
  border-radius: 8px;
  width: 250px;
  height: 300px;
  align-items: center;
  justify-content: center
}

.optionTitle {
  text-align: center;
  opacity: 0;
  transition: opacity .5s
}

.characterList {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap
}

.character {
  height: 300px;
  width: 250px;
  border: 1px solid;
  border-color: blue;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-bottom: 30px;
  scale: 1;
  transition: scale .5s
}

.character:hover {
  scale: 1.1
}


.characterImage {
  margin-top: -11px;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  transition: opacity .5s
}

.characterName {
  margin-top: 5px;
  width: 250px;
  text-wrap: wrap;
  text-align: center;
}

.locationList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around
}

.location {
  margin: 20px;
  height: 75px;
  width: 300px;
  border: 1px solid;
  border-color: blue;
  border-radius: 8px;
  justify-content: center;
  align-items: flex-start;
  transition: scale .5s;
  scale: 1
}

.location:hover {
  scale: 1.1
}

.locationName {
  text-align: center
}

.characterTitle {
  text-align: center
}

.characterPage {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.characterDetails {
  padding: 10px;
  border: 1px solid;
  border-color: blue;
  border-radius: 8px;
}

.characterImage {
  border-radius: 8px;
  border: 1px solid;
  border-color: blue
}

.linkItem {
  transition: color .5s
}
.linkItem:hover {
  color: blue;
}

.locationTitle {
  text-align: center
}

.locationPage {
  display: flex;
  justify-content: space-around
}

.locationDetails {
  padding: 10px;
  border: 1px solid;
  border-color: blue;
  border-radius: 8px
}

.residents {
  padding: 10px;
  border: 1px solid;
  border-color: blue;
  border-radius: 8px
}

.seasonSelect {
  display: flex;
  justify-content: center
}